<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>orange pi cmds</title>
 </head>
 <body>
  <a target="_blank" href="/api/take">take a pic</a>
  <a target="cmd" href="/api/power/pa7/on">Pa7 turn on</a>
  <a target="cmd" href="/api/power/pa7/off">Pa7 turn off</a>
  <iframe name="cmd" style="display:none"></iframe>
 </body>
</html>
